<head>
  <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
</head>

<template name="index">

{{#famousContext id="mainCtx"}}
  {{#HeaderFooterLayout headerSize="44"}}

    {{>titlebar}}

    {{#SequentialLayout target="content" direction="X"}}
      {{#Scrollview}}

      {{#Surface size="[undefined, true]"}}
        {{>post}}
      {{/Surface}}
      {{#Surface size="[undefined, true]"}}
        {{>post}}
      {{/Surface}}
      {{#Surface size="[undefined, true]"}}
        {{>post}}
      {{/Surface}}

      {{/Scrollview}}
    {{/SequentialLayout}}

  {{/HeaderFooterLayout}}
{{/famousContext}}

</template>
