.post 
  .ui.basic.compact.segment
    padding-bottom: 0px
    padding-top: 0px
    margin-top: 0px

  .ui.ribbon.label
    padding-top: 1px
    padding-bottom: 1px
    padding-right: 0px

  .ui.ribbon.label>.button
    padding: 0.4em
    margin-left: 0.3em

  .actions
    float: right
    .icon
      margin: 0px
      font-size: 1.2em
