<template name="login">
  <div class="ui login grid">

    <div class="mobile only row">
      {{>mobile_login}}
    </div>

    <div class="computer tablet only row">
      <div class="ui three column centered grid">

        <div class="column centered">
          <div class="ui center aligned segment">
            <img class="login-logo" src="/gitsocial.svg">
            <h1>GitSocial</h1>
            {{#if authGitHub}}
              {{>login_github}}
            {{else}}
              {{>login_password}}
            {{/if}}
          </div>
          {{#if allowRegistration}}
            <a id="register">Register</a>
          {{/if}}
        </div>
      </div>
    </div>

  </div>
</template>
