.ui.login.grid
  width: 100%

  .login-logo
    width: 100%

  #register
    cursor: pointer


  h1
    font-size: 60px
    line-height: 20px
    margin-bottom: 30px

  input
    margin-bottom: 7px

  .computer.tablet.only.row
    margin: 5% 0 0 0

    .column.centered
      min-width: 290px

      .ui.center.aligned.segment
        margin: 0px

