<template name="timelineEntry">
  <div class="timeline-entry-wrapper">
    <a href="/user">
      <img class="timeline-avatar" width="48" height="48" src="https://gp5.googleusercontent.com/-kHwFLpEgLt4/AAAAAAAAAAI/AAAAAAAAAAA/lZf5m8Lj7_U/s48-c-k-no/photo.jpg" alt="user">
    </a>
    <div class="timeline-entry">
      <div class="timeline-entry-header">
        <div class="timeline-entry-header-text">
          <strong><a class="author" href="/user">user</a></strong>
          did something special
        </div>
      </div>
      <div class="entry-content">
        <div class="entry-body">
          Body of text goes here.
        </div>
      </div>
    </div>
  </div>
</template>
