<template name="titlebar">
  {{#StateModifier target="header" translate="[0, 0, 0.2]"}}
    {{#Surface class="titlebar"}} {{/Surface}}

    {{#StateModifier origin="[0,0.5]" align="[0.006,0.5]"}}
      {{#Surface target="header" size="[true,true]"}}
        <i class="fa fa-bars fa-2x"> <div class="title-text"> Git Social </div> </i>
      {{/Surface}}
    {{/StateModifier}}

    {{#StateModifier origin="[1,0.5]" align="[0.994,0.5]"}}
      {{#Surface size="[300,39]"}}
        <div class="ui fluid icon input">
          <input type="text" placeholder="Search GitSocial...">
          <i class="search icon"></i>
        </div>
      {{/Surface}}
    {{/StateModifier}}

  {{/StateModifier}}
</template>
