.titlebar
  line-height: 44px
  background-color: #799A9C
  font-size: 20px

  &.left
    float: left
    padding-left: 0.4em

  &.right
    float: right
    padding-right: 0.4em

  &.input-group
      width: 300px;

  &>input
      margin-top: 5px;

.fa.fa-bars.fa-lg.titlebtn
    padding-right: 0.2em;

