<template name="menu_bar">
  <div class="ui menu grid">

    <div class="mobile only row">
      {{> mobile_menu_bar }}
    </div>

    <div class="computer tablet only row">
      <div class="title item">
        <img class="ui bottom aligned image logo" src="/gitsocial.svg"> 
        <h1 class="logo_text">GitSocial</h1>
      </div>
      <div class="right menu">
        <div class="ui floating user dropdown item">
          John Doe
          <img class="ui middle aligned circular user image" src="/user.png">
          <div class="menu">
            <div class="item">profile</div>
            <div class="item">logout</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
