.ui.menu.grid

  line-height = 1.53em

  .logo
    width: 45px
    height: 45px
    margin-right: 5px

  .logo_text
    display:inline;
    line-height: line-height

  .item
    padding: 8px 10px 8px 10px

  .computer.only.row
    padding: 0px
    margin-left: 5px
    margin-right: 5px

    .title.item
      margin-right: 10px

    .user.dropdown.item
      padding-left: 15px

  img.user
    height: 45px
    margin-left: 15px

  .inline
    display: inline
