.post-panel
  max-width: 500px

.post-header
  padding: 0px

.post-menu
  font-weight: bold
  margin-top: 12px
  margin-right: 15px
  float: right
  right: 10px
  cursor: pointer

.post-avatar
  border-top-left-radius: 3px
  margin-right: 10px

.post-user
  display: inline
  margin-top: -3px

.like-btn
  border-top-left-radius: 0px

.comment-box
  border-top-right-radius: 0px
